<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<!--html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="template::head">
    </head-->



<html>
    <head>
        <title>Cupones de descuento</title>
        <link rel="stylesheet" href="css/cupones.css">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    </head>
    
    <body>
        <header th:replace="plantilla/template::header"></header>
          <!--div class='nav-container'>
            <div class="navbar">
                <a href="home.html"><img src="images/navbar/pizza.png" class='logo' alt="alt"/></a>
                
                <nav> 
                    <ul>
                       
                        <li><a href="menu_1.html">Menu</a></li>
                        <li><a href="restaurantes.html">Restaurantes</a></li>
                        <li><a href="AcercaDeNosotros.html">Acerca de nosotros</a></li>
                        <li><a href="contactenos.html">Contactenos</a></li>
                        <li><a href="CV.html">Trabaja con nosotros</a></li>
                    </ul>
                </nav>
                
                <nav class="login">
                    <ul>
                        <li><a href="loginT.html">Login</a></li>
                    </ul>
                </nav>
            </div> 
              </div--> 
        <div class='container'>
            <!-- Este div es el para el texto de los descuentos -->
            <div class='text'>
                <h1>Cupones de descuento</h1>
            </div>
            
            <!-- Este div es el para los cuadritos de descuento -->
            <div class='boxes'>
                <div class='box'>
                    <h2>30% de descuento</h2>
                    <img src="images/descuentos/desc1.png" alt="descuento"/>
                    <div>Pasta pesto con 30% de descuento en tu próxima compra</div>
                </div>
                <div class='box'>
                    <h2>2 x 1</h2>
                    <img src="images/descuentos/desc2.png"  alt="descuento"/>
                    <div>Compra dos pastas pomodoro por el precio de 1 en tu próxima compra</div>
                </div>
                <div class='box'>
                    <h2>Segundo a mitad de precio</h2>
                    <img src="images/descuentos/desc3.png" alt="descuento"/>
                    <div>Segunda pizza de la casa a mitad de precio en tu próxima compra</div>
                </div>
                <div class='box'>
                    <h2>10% de descuento</h2>
                    <img src="images/descuentos/desc4.png" alt="descuento"/>
                    <div>10% de descuento en pizzas vegetarianas en tu próxima compra</div>
                </div>
                <div class='box'>
                    <h2>Cortesía</h2>
                    <img src="images/descuentos/desc5.png" alt="descuento"/>
                    <div>Entradas de la casa de cortesía en tu próxima compra</div>
                </div>
                <div class='box'>
                    <h2>20% de descuento</h2>
                    <img src="images/descuentos/desc6.png" alt="descuento"/>
                    <div>Ensalada capresse con 20% de descuento en tu próxima compra</div>
                </div>
                <div class='box'>
                    <h2>3x2</h2>
                    <img src="images/descuentos/desc7.png" alt="descuento"/>
                    <div>3x2 en ensalada mediterránea en tu próxima compra</div>
                </div>
                <div class='box'>
                    <h2>30% de descuento</h2>
                    <img src="images/descuentos/desc8.png" alt="descuento"/>
                    <div>Postres con 30% de descuento en tu próxima compra</div>
                </div>
            </div>
        </div>
    </body>
</html>
