<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="plantilla/template::head"></head> <!-- como se llama de la plantilla, lo que ocupamos -->
    <body>
        <h1 th:text="${titulo}"></h1>
        <h1 th:text="#{cliente.nuevo}">cliente nuevo</h1>

</body>

<footer th:replace="plantilla/template::footer"></footer>
    <h1 th:text="#{cliente.datos}"></h1>
</html>
