/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 4 jun. 2022, 14:49:27
    Author     : Patrick
*/

@import url('https://fonts.googleapis.com/css2?family=Joan&display=swap');

/**{
    font-family: 'Joan', serif;
}*/

*{
    margin: 0;
    font-family: 'Joan', serif;
    text-decoration: none;
}

body{
    /*background-color: #231E20;*/
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(54,53,53,1) 100%);
}

.navbar{
    height:10vh;
    width:100%;
    display:flex; /*como se va alinear dentro caja - */
    align-items: center;
    background-color: black;
    position:fixed;
    border-color: white;
    z-index: 2;
}
.logo{
    width:110px;
    cursor:pointer;
    padding-left: 100px;
}
.login{
    width: 20%;
    padding-left: 140px;
}
.login ul li a{ /*estilo del boton login*/
    cursor:pointer;
}

nav ul li { /*menu del centro*/
    display: inline-block;
    list-style:none;/*elimina los bullets*/
    margin:0px 30px; /*espacio entre objetos*/
    padding-left: 60px;
    padding-right: 50px;
}
nav ul li a:hover,a:focus {
    background-size: 100% 2px;
    transition: background-size .5s;
    color:green;
}
nav ul li a{
    font-size: 20px;
    color:white;
    text-decoration: none; /*quitar subrayado*/
    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
}

h1{
    position: relative;
    top: 130px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: white;
}

.lugares{
    position: relative;
    top: 170px;
    margin-left: auto;
    margin-right: auto;
    width: 700px;
}

.lugar{
    border-bottom: 1px solid #336124;
    /*border-top: 1px solid #972814;*/
    box-sizing: border-box;
    
    margin-top: 20px;
    padding-bottom: 10px;
    margin-bottom: 30px;
}

h4{
    font-size: 20px;
    margin-bottom: 0px;
}

.pin{
    height: 45px;
    padding-top: 5px;
}

.flecha{
    height: 30px;
    padding-top: 5px;
}

.lugar{
    display: flex;
    align-items: center;
    cursor: pointer;
}

.texto{
    flex: 1;
    padding-left: 20px;
    color: white;
}