/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 4 jun. 2022, 14:49:27
    Author     : Patrick
*/

@import url('https://fonts.googleapis.com/css2?family=Joan&display=swap');

/**{
    font-family: 'Joan', serif;
}*/

*{
    margin: 0;
}

body{
    /*background-color: #231E20;*/
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(54,53,53,1) 100%);
}



h1{
    position: relative;
    top: 100px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: white;
}

.lugares{
    position: relative;
    top: 120px;
    margin-left: auto;
    margin-right: auto;
    width: 700px;
}

.lugar{
    border-bottom: 1px solid #336124;
    /*border-top: 1px solid #972814;*/
    box-sizing: border-box;
    
    margin-top: 20px;
    padding-bottom: 10px;
    margin-bottom: 30px;
}

h4{
    font-size: 20px;
    margin-bottom: 0px;
}

.pin{
    height: 45px;
    padding-top: 5px;
}

.flecha{
    height: 30px;
    padding-top: 5px;
}

.lugar{
    display: flex;
    align-items: center;
    cursor: pointer;
}

.texto{
    flex: 1;
    padding-left: 20px;
    color: white;
}